APP_ENV=development

#####################################
# Development environment variables
#####################################
DATABASE_URL=postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres


#####################################
# Production environment variables
#####################################
# DATABASE_URL=postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres


#####################################
# External secrets + variables
######################################
# FRED
FRED_API_KEY=

# Altri 
SUPABASE_URL=https://[PROJECT_ID].supabase.co
SUPABASE_ANON_KEY=
ZILLOW_API_BASE=
SERVICE_EMAIL=
SERVICE_PASSWORD=